<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AdminControllingCenter</title>
    <link rel="shortcut icon" href="#" />
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="title">
        FLASK_BLOG
      </div>
      <div class="index_director">
        <a href="{{ url_for('index') }}">首页</a>
        <div class="sendpost_btn">
          <a href="{{url_for('sendpost', username=current_user.username)}}">发博客</a>
        </div>
        {% if current_user.username == 'admin' %}
        <a class="acc_btn" href="{{ url_for('acc') }}">控制中心</a>
        {% endif %}
      </div>
      <div class="user_director">
        {% if current_user.is_anonymous %}
        <a class="login" href="{{ url_for('login') }}">登录</a>
        <a class="reg" href="{{ url_for('register') }}">注册</a>
        {% else %}
        <img class="header_pp" src="/static/PP/{{ current_user.id }}.jpg" onerror="javascript:this.src='{{ current_user.avatar(36) }}';">
        <a class="user" href="{{ url_for('user', username=current_user.username) }}">用户中心</a>
        <a class="exit" href="{{ url_for('logout') }}">退出</a>
        {% endif %}
      </div>
    </header>
    <div class="holder">
      <div class="hello">
        <h1>Admin Controlling Center</h1>
      </div>
      <div class="acc_main">
        <form class="acc_form" method="POST">
          {{ form.csrf_token }}
          {{ form.target.label }}
          {{ form.target }}
          {{ form.sel.label }}
          {{ form.sel }}
          {{ form.submit }}
        </form>
        <div class="debug_message">
          Debug消息：
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ur>
              {% for message in messages %}
                <li>{{ message }}</li>>
              {% endfor %}
            </ur>
          {% endif %}
          {% endwith %}
        </div>
        <div class="acc_comments">
          {% if show_comments %}
          {% for comment in sel_comments %}
            <div class="post_comment_sig">
              <span class="post_comment_username">
                {{ comment.author.username }}
              </span>
              <span class="post_comment_body">
                {{ comment.body }}
              </span>
              {{ comment.timestamp }}
              <a href="{{ url_for('delcomment',comment_id=comment.id,post_id=sel_postid) }}">
                <input value="删除评论" type=button>
              </a>
            </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>